
    body {
        background-image: none;
    }
    
    #facts-nav {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    }
    #main-timeline {
        background-image: url('../assets/bikini-bottom.png');
        background-size: cover;
    }
    ul {
        list-style: none;
        padding: 0;
    } 

    #lore {
        background-image: url('../assets/all-characters.png');
    }

    #random-facts {
        background-image: url('../assets/houses.png');
    }

    .icon {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }

    li {
        color: yellowgreen;
    }
    footer {
        color: white;
    }

    .h1-image {
        animation: gentle-rotate 8s ease-in-out infinite;
    }

@keyframes gentle-rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

