.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

img {
    width: 90%;
    height: 400px;
    object-fit: fill;
    border-radius: 15px;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.9s;
    cursor: pointer;
}

span {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: azure;
}

section a:any-link {
    text-decoration: none;
    color: black;
    text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.5);
}

h1 {
    color: lightseagreen;
}
